@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  margin: 0;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #babac0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url('../public/static/fonts/icomoon.eot?5lursw');
  src: url('../public/static/fonts/icomoon.eot?5lursw#iefix')
      format('embedded-opentype'),
    url('../public/static/fonts/icomoon.ttf?5lursw') format('truetype'),
    url('../public/static/fonts/icomoon.woff?5lursw') format('woff'),
    url('../public/static/fonts/icomoon.svg?5lursw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-arrow:before {
  content: '\e900';
}
.icon-phone:before {
  content: '\e942';
}
.icon-envelop:before {
  content: '\e945';
}
.icon-location:before {
  content: '\e948';
}
.icon-display:before {
  content: '\e956';
}
.icon-gift:before {
  content: '\e99f';
}
.icon-download:before {
  content: '\e9c7';
}
.icon-earth:before {
  content: '\e9ca';
}
.icon-facebook:before {
  content: '\ea90';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-dribbble:before {
  content: '\eaa7';
}
.icon-linkedin:before {
  content: '\eaca';
}
.icon-enter:before {
  content: '\ea13';
}
.icon-cog:before {
  content: '\e994';
}
